<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdwtech.githubuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sdwtech.githubuser.READ_DATABASE" />
    <uses-permission android:name="com.sdwtech.githubuser.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUser">
        <activity android:name=".favorite.FavoriteActivity"></activity>

        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.sdwtech.githubuser"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.sdwtech.githubuser.READ_DATABASE"
            android:writePermission="com.sdwtech.githubuser.WRITE_DATABASE" />

        <activity android:name=".detail.DetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>